<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="topic">
            <h2>{{ topic.title }}</h2>

            <jhi-alert-error></jhi-alert-error>

            <dl [hidden]="!isAdmin()" class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ topic.title }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ topic.user?.id }}
                </dd>
            </dl>

            <button [hidden]="!isAdmin()" type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button [hidden]="!isAdmin()" type="button" [routerLink]="['/topic', topic.id, 'edit']"
                class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                [infiniteScrollDistance]="0">
                <ul class="comment" *ngFor="let post of posts">
                    <jhi-up-rank-post [post]="post"></jhi-up-rank-post>
                    <span class="username">User "{{post.user?.firstName}}" posted: </span>
                    <h3><a [routerLink]="['/post', post.id, 'view']">{{ post.title }}</a></h3>
                    </li>
                </ul>
            </div>
            <a [routerLink]="['/post/new']" [state]="{ topic: topic}">Post Something</a>
        </div>
    </div>
</div>